
.evento-container {
	width: 100%;
	margin-bottom: 50px;
}

.evento {
	width: 80%;
	min-width: 800px;
	min-height: 280px;
	margin: auto;
	border-radius: 5px;
	box-shadow: 0 0 3px 3px #eee;	
	padding: 25px;
	overflow: hidden;
}

.evento-img {
	height: 230px;
	width: 400px;
	margin: 0;
	float: left;
	border-radius: 50px;
}

.info {
	float: right;
	width: 50%;
	padding-top: 20px;
	padding-left: 20px;
	text-align: justify;
}

.info-p {
	width: 100%;
}

.info-p label, .info-p p {
	display: inline-block;
}

h2 {
	margin: 0;
	margin-left: 10%;
	margin-bottom: 10px;
}

